:root {
    --blue-btn: #1888ff;
}

.btn {
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
}

.btn:hover {
    padding: 6px 18px;
    transition: all o.3s ease-in-out;
    background-color: #fff;
    /* color: #fff; */
    /* background-color: transparent; */
    color: #1888ff;
    border: 2px solid var(--primary);
}